
@{
    ViewBag.Title = "Index";
}

<div class="text-center">

    <p>We're going to have a parrty!</p>
    
    <img src="~/Content/portfolioimg1.jpg" />

    <br />
    <p> And you are invited .....</p>
    <div class="btn btn-success">

        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>