@model MVCParty.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}

@{ 
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "shozab.rizvi84@gmail.com";
        WebMail.Password = "*******";
        WebMail.From = "rsvps@example.com";

        WebMail.Send("shozab.rizvi84@gmail.com", "RSVP notification", Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
            + " attending");


    }


    catch(Exception)
    {
        <b>Sorry - we couldn't send the email to confirm your RSVP.</b>
    }

}

<div class="text-center">

    <h1>Thank you, @Model.Name </h1>

    <div class="lead">

        @if (Model.WillAttend == true)
        {
            @: It's great that you are coming. The drinks are in the fridge.
        }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }
    </div>
</div>